<div class="container">

  <div [hidden]="!submitted">
    <div class="row" [hidden]="!successful">
      <h2><span style="background-color:#00FF00">Your form submission was successful</span></h2>
    </div>
    <div class="row" [hidden]="!error">
      <h2><span style="background-color:#FF0000">{{errorMsg}}</span></h2>
    </div>
  </div>

  <div>
    <h1>{{title}}</h1>
    <form (ngSubmit)="onSubmit()" >
      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text" class="form-control" id="fullName"
               required
               [(ngModel)]="model.fullName" name="fullName"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="idNumber">ID Number</label>
        <input type="text" class="form-control" id="idNumber"
               [(ngModel)]="model.idNumber" name="idNumber">
      </div>

      <div class="form-group">
        <label for="telephoneNumber">Telephone Number</label>
        <input type="text" class="form-control" id="telephoneNumber"
               [(ngModel)]="model.telephoneNumber" name="telephoneNumber">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
