<div style="padding: 13px;">
  <mat-spinner *ngIf="products.length === 0"></mat-spinner>

  <table class="my-table">
    <thead class="my-table headers">
    <tr>
      <th>Full Names </th>
      <th>ID Number </th>
      <th>telephone Number </th>
    </tr>
    </thead>
    <tbody class="my-table body">
    <tr my-active *ngFor="let row of products;">
      <td>{{row.fullName}}</td>
      <td>{{row.idNumber}}</td>
      <td>{{row.telephoneNumber}}</td>
    </tr>
    </tbody>
  </table>

  <!--<mat-card *ngFor="let product of products" style="margin-top:10px;">
    <mat-card-header>
      <mat-card-title>{{product.fullName}}</mat-card-title>
      <mat-card-subtitle>{{product.idNumber}} $/ {{product.telephoneNumber}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{product.telephoneNumber}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button> Buy product</button>
    </mat-card-actions>
  </mat-card>-->
</div>
